$bgyellow: #ffff00;
$bggreen: #2b8674;
$img-color: #aaa;

#promot {
    background-color: $bgyellow ;
}

header {
    background-color: $bggreen ;
}

.img-color {
    background-color: $img-color;
}